<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="Employee/base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title >Ice Cream Shop</title>
</head >
<body>
<section class="d-flex align-item-center ">
    <div class="row">
        <div class="col-sm-4 col-md-3" th:each="it : ${icecreams}">
            <div class="card shadow-6-strong bg-gradient-light" style="border-radius: 1rem;">
                <img class="card-img-top" th:src="@{'/img/' + ${it.image}}" alt="Cardimagecap">
                <div class="card-body">
                    <h5 class="card-title" th:text="${it.name}">Card title</h5>
                    <h6 class="card-title" th:text="${it.variant} + '   ' + ${it.quantity}"></h6>
                    <p class="card-text" th:text="${it.description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#"  class="btn btn-primary">Edit</a>
                    <a href="#" th:href="@{'/employee/delet-icecream/' + ${it.Iid}}"class="btn btn-danger">Delet</a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>