<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="base::Layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title >Ice Cream Shop</title>
</head>
<body class="bg-dark">

<section class="banner d-flex justify-content-center align-items-center">
    <div>
        <div class="container">
            <div >
                <h2 class = "text-center mb-5 font-weight-bold">
                    Welcome To Our Ice Cream Shop's Website
                </h2>
            </div>
            <div class="text-center">
                <p>Weddings, birthdays, anniversaries, or any get-together, memorable occasions deserve mouth-watering flavours. So,
                    place a Party Order, and we’ll bring to the bowl a variety of ice cream flavours that compliments every event.
                    We add More scoops of sweetness to all your celebrations.
                    Make your party memorable with Us
                </p>
                <a class="btn btn-dark btn-lg mt-3 text-white" th:href="@{/availables}">See Available Ice-Creams</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>